.App {
  text-align: center;
}

.app__img {
  width: 13%;
  margin-top: 20px;
  margin-right: 10px;
}
.title {
  display: inline;
}
.app__form {
  padding: 20px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: #eeeeff;
  display: flex !important;
  width: 100%;
  margin: 20px;
  border-radius: 10px;
}
.app__formcontrol {
  display: flex !important;
  flex-direction: row !important;
  border-radius: 5px;
}

.app__input {
  display: flex !important;
  width: max-content !important;
  flex-direction: row;
  flex: 1;
  height: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  font-size: 15px;
  padding-left: 15px;
  font-weight: 200;
}
.app__iconbutton {
  width: 20% !important;
  color: rgb(129, 129, 238);
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
  padding-right: 20px;
}
